langchain
langgraph
langchain-community
langchain-groq
python-dotenv
ipykernel
langchain-google-genai
langchain-tavily
numpy
pandas 
matplotlib
seaborn
scikit-learn
plotly
streamlit
nltk